div.table-responsive{
    overflow:hidden;
   
    }
    table tr th {    border: 1px solid #000;    border-color: rgb(19, 93, 230);  width: 80%;}    
input{
        width:60px;
        height:24px;
        border-color:rgb(158, 5, 5);
        background-color:rgb(6, 248, 196);
        border-radius: 30%;
    }